footer{
    background-color: #240046;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0px 10px;
    color: white;
    width: 100%;
}
.breadcrumb{
    padding: 10px 20px 10px 20px;
    background-color: lightgray;

}
.breadcrumb{
    margin-left:20px;
}

.navbar-brand{
    padding: 0px 20px 0px 20px;
}
.card-img-top{
    border-radius: 8px;
}
.card-gadget{
    width: 20%;
    flex: 1 200px;
    margin-top: 10px;
} 
.btn-compra{
    width: 100%;
}

.jumbotron{
    padding: 10px 10px 0px 10px;
    background-color: #9D4EDD;
    color: white;
    margin-top: 50px;
}

.text-about{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
